
body {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    color: black;
    background-color: grey;
}


#litulo {
    font-family: Verdana, sans-serif;
    font-size: 40pt;
    color: darkgrey;
}


.naranja {
    color: orange;
    background-color: blue;
}


.consola {
    font-family: Courier, monospace;
    color: green;
    background-color: black;
}

a.importante {
    text-decoration: none;
}

a.importante:hover {
    background-color: yellow;
}
